<div class="container" id="main">
  <div class="row scroll-container">
    <div class="col-md-9">
      <div class="container pages" id="content">
        <div class="row">
          <div class="col-xs-12">
            <div class="well page active content" id="about">
              <!-- Reset Indent -->

<section id="web-design">
  <h2>Image Search API</h2>
  <p>This application abstracts a Google Custom Search Engine (CSE) into a simple
    API for image searches. 
  </p>
  <p>
    <button type="button" class="btn btn-raised btn-secondary btn-sm pull-right">
      More Information
    <div class="ripple-container"></div></button>
  </p>
  <br><br>
  <hr>
  <h3>Try It Out</h3>
  <div class="form-group label-floating is-empty">
    <div class="input-group">
      <label for="i5" class="control-label">Search</label>
      <input class="form-control" id="i5" type="text" [(ngModel)]="query"  #searchBox (keyup.enter)="searchButtonClicked(searchBox.value)">
      <span class="help-block">Perform a <code>Google Image Search</code>, preview JSON response below</span>
      <span class="input-group-btn">
      <button type="button" class="btn btn-raised btn-primary" (click)="searchButtonClicked(searchBox.value)">
        <i class="zmdi zmdi-search"></i>
        <div class="ripple-container"></div></button>
      </span>
    </div>
  </div>
  <br><br>
  <div class="panel panel-default">
    <div class="panel-heading">API Call</div>
    <div class="panel-body">
      <span style="float: left">
        127.0.0.1:3000/api/search
      </span>
      <span style="float: left" *ngIf="query">
        ?q=<b>{{query}}</b>
      </span>
    </div>
  </div>
  <br><br>
  <div class="panel panel-default">
    <div class="panel-heading">Response</div>
    <div class="panel-body" *ngIf="responseLoading">
      <div style="width: 100%; height: 50px; text-align: center; color: #0c73b8">
        <i class="zmdi zmdi-refresh zmdi-hc-spin zmdi-hc-2x"></i>
      </div>
    </div>
    <div class="panel-body" *ngIf="! responseLoading">
        <p *ngFor="let result of responseJSON" style="word-wrap: break-word">
          {{jsonToString(result)}}
        </p>
    </div>
  </div>
</section><!--end of #web-design-->
  
  <br><br>
  <hr>

          <section id="web-development">
            <h2>Web Development</h2>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
              massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec
              quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
              Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
            </p>
            <p>Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc. Etiam ultricies nisi vel augue.
              Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus,
              tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum.
              Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem.
            </p>
            <p>Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante.
              Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh.Nam
              quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem.
            </p>

            <section id="ruby">
              <h3>Ruby</h3>
              <p>Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante.
                Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Nam quam nunc, blandit vel,
                luctus pulvinar, hendrerit id, lorem.
              </p>
              <p>Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante.
                Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Nam quam nunc, blandit vel,
                luctus pulvinar, hendrerit id, lorem.
              </p>
              <button type="button" class="btn btn-primary">Learn More</button>
            </section><!--end of #ruby-->

            <section id="python">
              <h3>Python</h3>
              <p>Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante.
                Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Nam quam nunc, blandit vel,
                luctus pulvinar, hendrerit id, lorem.
              </p>
              <p>Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante.
                Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Nam quam nunc, blandit vel,
                luctus pulvinar, hendrerit id, lorem.
              </p>
              <button type="button" class="btn btn-primary">Learn More</button>
            </section><!--end of #python-->

            <section id="php">
              <h3>PHP</h3>
              <p>Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante.
                Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Nam quam nunc, blandit vel,
                luctus pulvinar, hendrerit id, lorem.
              </p>
              <p>Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante.
                Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Nam quam nunc, blandit vel,
                luctus pulvinar, hendrerit id, lorem.
              </p>
              <p>Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante.
                Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Nam quam nunc, blandit vel,
                luctus pulvinar, hendrerit id, lorem.
              </p>
              <button type="button" class="btn btn-primary">Learn More</button>
            </section><!--end of #php-->
          </section><!--end of #web-devlopment-->

          <section id="marketing">
            <h2>Marketing</h2>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
              massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec
              quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
              Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
            </p>
            <p>Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante
              tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante
              tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus.
            </p>
            <p>Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in,
              viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum.
              Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui.
              Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet
              adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem.
            </p>
            <button type="button" class="btn btn-primary">Learn More</button>
          </section><!--end of #marketing-->

          <section id="graphic-design">
            <h2>Graphic Design</h2>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
              massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec
              quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
              Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
            </p>
            <p>Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc. Etiam ultricies nisi vel augue.
              Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus,
              tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum.
              Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem.
            </p>
            <p>Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante.
              Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh.
              Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem.
            </p>
            <button type="button" class="btn btn-primary">Learn More</button>
          </section><!--end of #graphic-design-->

          <section id="logistics">
            <h2>Logistics</h2>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
              massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec
              quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
              Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
            </p>
            <p>Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc.
              Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus,
              tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum.
              Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem.
            </p>
            <p>Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante.
              Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh.
              Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem.
            </p>
            <button type="button" class="btn btn-primary">Learn More</button>
          </section><!--end of #logistics-->

          <section id="social">
            <h2>Social</h2>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
              massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec
              quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
              Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
            </p>
            <p>Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante
              tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante
              tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus.
            </p>
            <p>Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus,
              tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum.
              Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem.
            </p>
            <p>Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante.
              Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris
              sit amet nibh. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem.
            </p>
            <button type="button" class="btn btn-primary">Learn More</button>
          </section><!--end of #social-->

          <section id="management">
            <h2>Management</h2>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
              massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec
              quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
              Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
            </p>
            <p>Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in,
              viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum.
              Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui.
              Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet
              adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem.
            </p>
            <p>Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante
              tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante
              tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus.
            </p>
            <button type="button" class="btn btn-primary">Learn More</button>
          </section><!--end of #management-->

          <section id="chemistry">
            <h2>Chemistry</h2>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
              massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec
              quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
              Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
            </p>
            <p>Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc.
              Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus,
              tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum.
              Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem.
            </p>
            <p>Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante.
              Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh.
              Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem.
            </p>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
              massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec
              quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
              Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
            </p>
            <p>Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante.
              Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh.
              Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem.
            </p>
            <button type="button" class="btn btn-primary">Learn More</button>
          </section><!--end of #chemistry-->

          <section id="mobile-development">
            <h2>Mobile Development</h2>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
              massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec
              quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
              Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
            </p>
            <p>Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc. Etiam ultricies nisi vel augue.
              Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus,
              tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum.
              Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem.
            </p>
            <p>Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante
              tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante
              tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus.
            </p>

            <section id="android">
              <h3>Android Development</h3>
              <p>Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante.
              Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Nam quam nunc, blandit vel,
              luctus pulvinar, hendrerit id, lorem.
              </p>
              <p>Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante.
                Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Nam quam nunc, blandit vel,
                luctus pulvinar, hendrerit id, lorem.
              </p>
              <button type="button" class="btn btn-primary">Learn More</button>
            </section><!--end of #android-->

            <section id="iOS">
              <h3>iOS Development</h3>
              <p>Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante.
                Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Nam quam nunc, blandit vel,
                luctus pulvinar, hendrerit id, lorem.
              </p>
              <p>Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante.
                Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Nam quam nunc, blandit vel,
                luctus pulvinar, hendrerit id, lorem.
              </p>
              <button type="button" class="btn btn-primary">Learn More</button>
            </section><!--end of #iOS-->
          </section><!--end of #mobile-development-->
          
          <section id="mathematics">
            <h2>Mathematics</h2>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
              massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec
              quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
              Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
            </p>
            <p>Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc. Etiam ultricies nisi vel augue.
              Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus,
              tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum.
              Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem.
            </p>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
              massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec
              quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
              Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
            </p>
            <p>Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante.
              Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh.
              Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem.
            </p>
            <p>Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante.
              Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh.
              Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem.
            </p>
            <p>Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante.
              Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh.
              Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem.
            </p>
            <p>Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante.
              Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh.
              Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem.
            </p>
            <p>Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante.
              Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh.
              Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem.
            </p>
            <button type="button" class="btn btn-primary">Learn More</button>
          </section><!--end of #mathematics-->

    
              <!-- /Reset Indent -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 scrollspy">
        <ul id="navspy" class="nav hidden-xs hidden-sm navspy" data-spy="affix">
          <li><a href="#web-design">Web Design</a></li>
          <li>

          <a href="#web-development">Web Development</a>

            <ul class="nav navspy">
              <li><a href="#ruby">Ruby</a></li>
              <li><a href="#python">Python</a></li>
              <li><a href="#php">PHP</a></li>
            </ul>
          </li>
          <li><a href="#marketing">Marketing</a></li>
          <li><a href="#graphic-design">Graphic Design</a></li>
          <li><a href="#logistics">Logistics</a></li>
          <li><a href="#social">Social</a></li>
          <li><a href="#management">Management</a></li>
          <li><a href="#chemistry">Chemistry</a></li>
          <li><a href="#mobile-development">Mobile Development</a>
            <ul class="nav navspy">
              <li><a href="#android">Android</a></li>
              <li><a href="#iOS">iOS</a></li>
            </ul>
          </li>
          <li><a href="#mathematics">Mathematics</a></li>
        <li style="padding-top: 10px;"><a href="#top">Back to Top</a></li>
        </ul>
    </div>
<!--    <nav class="col-m-2 menu">
      <ul>
        <li class="active withripple" data-target="#about">Material Design for Bootstrap</li>
        <li class="withripple" data-target="#getting-started">Getting Started</li>
        <li><a href="bootstrap-elements.html" target="_blank">Bootstrap elements <i class="material-icons">open_in_new</i></a>
        </li>
        <li class="withripple" data-target="#checkbox">Checkbox</li>
        <li class="withripple" data-target="#radio-button">Radio Button</li>
        <li class="withripple" data-target="#toggle-button">Toggle Button</li>
        <li class="withripple" data-target="#input">Input</li>
        <li class="withripple" data-target="#fileinput">File Input</li>
        <li class="withripple" data-target="#navbar">Navbar</li>
        <li class="withripple" data-target="#progress-bar">Progress Bar</li>
        <li class="withripple" data-target="#slider">Slider</li>
        <li class="withripple" data-target="#dropdown">Dropdown (Work in progress)</li>
        <li class="withripple" data-target="#dropdown-menu">Dropdown Menu</li>
        <li class="withripple" data-target="#dialog">Dialog</li>
      </ul>
    </nav>-->
  </div>
  <div class="row">
    <footer class="col-xs-12 application">
      <div class="container" id="footer">
        <h2>Come and Join Us</h2>
        <div class="row">
          <div class="col-sm-6">
            <p>Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus.
            Nullam quis ante.
            </p>
            <img class="img-responsive  " src="http://placehold.it/500x250/5fb3ce/000000">
          </div>
          <div class="col-sm-6">
            <p>Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante.
            Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh.
            Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem.
            </p>

            <button type="button" class="btn btn-primary">Apply Now</button>
          </div>
        </div><!--end of .row-->
      </div><!--end of .container-->
    </footer> 
  </div>
</div>